<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.layout == "home" %}
<header class="header-section">
  <div class="intro-header no-img">
    <div class="container-md">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="home-heading">
            <h1 class="sr-only">{{ page.title | strip_html }}</h1>
            <p>Use <strong>Epic</strong>. Stop getting tracked.</p>
            <p><strong>Block 600+</strong> tracking attempts in an average browsing session.</p>
            <p>Turn on network privacy with our <strong>free VPN</strong>.</p>
            <div class="download">
              <a href="/thank-you">
                <img src="/assets/img/download-button.png" width="420px" alt="Download Epic today" />
              </a>
              <div class="app-links">
                <a href="http://www.pcmag.com/article2/0,2817,2429017,00.asp" target="_blank" rel="noreferrer">
                  <img src="/assets/img/seen_pcmag.png" height="100px" alt="As seen on PC Magazine" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.epic.browser&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                  <img alt="Get it on Google Play" height="75px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
                </a>
                <a href="https://apps.apple.com/us/app/epic-privacy-browser-w-vpn/id1502032811?mt=8">
                  <img alt="Get it on Google Play" height="50px" height="50px" src="https://cdn.epicbrowser.com/DownloadAppleAppStore.svg">
                </a>
              </div>
            </div>
            <p>Join hundreds of thousands of users who've chosen privacy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% elsif page.cover-img or page.title %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
      {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
{% if page.cover-img %}
<div class="big-img intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>

{% else %}
<div class="intro-header"></div>
{% endif %}
