<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.layout == "home" %}
<header class="header-section">
  <div class="intro-header no-img">
    <div class="container-md">
      <div class="row">
        <div class="col-xl-8 col-lg-10">
          <div class="home-heading">
            <h1 class="sr-only">{{ page.title | strip_html }}</h1>
            <p><strong>Use Epic</strong>. Stop getting tracked.</p>
            <p><strong>Block 600+ tracking attempts</strong> in an average browsing session.</p>
            <p>Turn on network privacy with our <strong>free VPN</strong>.</p>
            <div class="download">
              <a href="/thank-you">
                <img src="/assets/img/presentation/download-button.png" width="420px" alt="Download Epic today" />
              </a>
              <div class="app-links">
                <a href="http://www.pcmag.com/article2/0,2817,2429017,00.asp" target="_blank" rel="noreferrer">
                  <img src="/assets/img/asi/seen_pcmag.png" height="100px" alt="As seen on PC Magazine" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.epic.browser&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                  <img alt="Get it on Google Play" height="75px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
                </a>
                <a href="https://apps.apple.com/us/app/epic-privacy-browser-w-vpn/id1502032811?mt=8">
                  <img alt="Get it on the Apple App Store" height="50px" height="50px" src="https://cdn.epicbrowser.com/DownloadAppleAppStore.svg">
                </a>
              </div>
            </div>
            <p>Join hundreds of thousands of users who've chosen privacy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="asSeenIn" class="carousel slide" data-ride="carousel">
    <h2 class="text-uppercase">As seen in</h2>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="http://www.fastcoexist.com/3018133/a-browser-to-keep-the-nsa-from-snooping-on-you" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_fc2bw2.jpg" height="25px" />
        </a>
        <a href="http://www.techworld.com/security/best-8-secure-browsers-2016-3246550/" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_techworldbw.jpg" height="25px" />
        </a>
        <a href="http://www.pcworld.com/article/2898509/10-obscure-highly-specialized-browsers-that-will-make-you-forget-about-chrome-firefox-and-ie.html#slide10" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_pc2bw.jpg" height="25px" />
        </a>
        <a href="http://www.darkreading.com/risk-management/custom-chrome-browser-promises-more-privacy-no-tracking/d/d-id/1111356" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_iwsbw.jpg" height="25px" />
        </a>
        <a href="http://www.computerworlduk.com/galleries/operating-systems/best-browsers-for-privacy-3628363/#7" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_cw.png" height="25px" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.youtube.com/watch?v=GJCH0HUhdWU" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_tedbw.jpg" height="25px" />
        </a>
        <a href="https://lifehacker.com/epic-privacy-browser-blocks-tracking-ads-and-more-1278427701" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_lhbw.jpg" height="25px" />
        </a>
        <a href="http://www.cnetfrance.fr/news/epic-privacy-browser-un-chrome-qui-respecte-la-vie-privee-39794058.htm" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_cbw.jpg" height="25px" />
        </a>
        <a href="http://www.chip.de/downloads/Epic-Privacy-Browser_75452475.html" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_chipbw.jpg" height="25px" />
        </a>
        <a href="http://www.focus.de/digital/internet/der-grosse-browsertest-4-platz-epic-privacy-browser_id_4843312.html" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_focusbw.jpg" height="25px" />
        </a>
        <a href="http://computertotaal.nl/apple/review-epic-privacy-browser-62896" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_ctbw.jpg" height="25px" />
        </a>
        <a href="http://www.lifehack.org/articles/technology/epic-the-privacy-browser.html" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_lifehackbw.jpg" height="25px" />
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.datingnews.com/industry-trends/epic-browser-allows-people-to-keep-search-history-confidential/" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/datingnews.png" height="25px" />
        </a>
        <a href="http://www.networkworld.com/article/2169818/security/new-browser-blocks-snooping-adware--google-tracking.html" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_nw3bw.jpg" height="25px" />
        </a>
        <a href="http://www.zdnet.be/download/157268/het-privacyminnende-broertje-van-chrome/" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_zdnetbw.jpg" height="25px" />
        </a>
        <a href="http://www.makeuseof.com/tag/three-desktop-browsers-designed-protect-privacy/" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_makeuseofbw.jpg" height="25px" />
        </a>
        <a href="http://ejc.net/resources/article/investigating-epic-privacy-browser-we-will-not-be-controlled" target="_blank" rel="noreferrer">
          <img src="/assets/img/asi/seen_ejcbw.jpg" height="25px" />
        </a>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#asSeenIn" data-slide-to="0" class="active"></li>
      <li data-target="#asSeenIn" data-slide-to="1"></li>
      <li data-target="#asSeenIn" data-slide-to="2"></li>
    </ol>
  </div>
  <div class="container-xl">
    <div class="row epic-desc">
        <div class="col-lg-11">
            <p class="h2">The Epic Privacy Browser is a fast, private, secure, chromium-based web browser that blocks ads, trackers, fingerprinting, cryptomining, ultrasound signaling and more.</p>
        </div>
    </div>
  </div>
</header>
{% elsif page.cover-img or page.title %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
      {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
{% if page.cover-img %}
<div class="big-img intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 col-lg-10">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 col-lg-10">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>

{% else %}
<div class="intro-header"></div>
{% endif %}
