---
layout: base
---

{% include header.html type="page" %}

<main class="home-page">
    <div class="need-epic">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <h2>Why you need Epic:</h2>
                    <div class="card-container">
                        <div class="card">
                            <img src="/assets/img/presentation/home_1.png" class="card-img-top" alt="No tracking. No spying.">
                            <div class="card-body">
                                <h3>No tracking. No spying.</h3>
                                <p class="card-text">Visiting the average website without Epic results in 15 tracking attempts. Larger websites can have twice as many trackers as well as try to fingerprint your device.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_2.png" class="card-img-top" alt="No profiling.">
                            <div class="card-body">
                                <h3>No profiling.</h3>
                                <p class="card-text">Protect your browsing history. No profiling. No filter bubbles.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_3.png" class="card-img-top" alt="No ads. No data abuse.">
                            <div class="card-body">
                                <h3>No ads. No data abuse.</h3>
                                <p class="card-text">No more creepy ads following you around. Epic has a custom uBlock-based ad blocker which includes additional filter lists for maximum protection.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_4.png" class="card-img-top" alt="Lower prices.">
                            <div class="card-body">
                                <h3>Lower prices.</h3>
                                <p class="card-text">Consumer reports found that browsers which regularly deleted cookies had airfare prices $340 lower. The Wall Street Journal discovered many websites changed prices based on your location.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_5.png" class="card-img-top" alt="Fast and secure.">
                            <div class="card-body">
                                <h3>Fast and secure.</h3>
                                <p class="card-text">Built on Chromium like Chrome and Edge for maximum security. Every tab is a separate process, and speed.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_6.png" class="card-img-top" alt="Encrypted data preference.">
                            <div class="card-body">
                                <h3>Encrypted data preference.</h3>
                                <p class="card-text">Maximize your data security. Epic tries to make a secure connection to websites that support it.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_7.png" class="card-img-top" alt="Free VPN / network protection.">
                            <div class="card-body">
                                <h3>Free VPN / network protection.</h3>
                                <p class="card-text">Epic's free encrypted proxy (VPN for the browser) is fast with nodes in eight countries. Protect yourself from network snoops like your ISP, government, employer, and others.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_8.png" class="card-img-top" alt="Unblock content.">
                            <div class="card-body">
                                <h3>Unblock content.</h3>
                                <p class="card-text">Use the encrypted proxy to unblock websites wherever you are. Access an uncensored internet.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_9.jpg" class="card-img-top" alt="Cookie and fingerprinting protection.">
                            <div class="card-body">
                                <h3>Cookie and fingerprinting protection.</h3>
                                <p class="card-text">Epic blocks third-party cookie tracking by default. Epic includes granular protection against new device fingerprinting techniques that can track and profile you across all your devices.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_10.png" class="card-img-top" alt="One of 3 trusted privacy software companies.">
                            <div class="card-body">
                                <h3>One of 3 trusted privacy software companies.</h3>
                                <p class="card-text">Only a few companies have taken a substantial loss of revenue rather than compromise their users' privacy and we're one of them. We have a 10-year record of transparency and unbroken privacy.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_11.png" class="card-img-top" alt="Customize Epic with Chrome extensions.">
                            <div class="card-body">
                                <h3>Customize Epic with Chrome extensions.</h3>
                                <p class="card-text">Make Epic your Epic with themes and extensions. Almost all of the 150,000+ Chrome extensions work in Epic.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/assets/img/presentation/home_12.png" class="card-img-top" alt="Spy on spies. See who's tracking you.">
                            <div class="card-body">
                                <h3>Spy on spies. See who's tracking you.</h3>
                                <p class="card-text">Via Epic's new tab page, see the companies and organizations tracking you in your other browsers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="innovation">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <div class="header-container">
                        <h2>10 years of innovation and trust.</h2>
                        <p>Here are ten "Epic" firsts.</p>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first privacy-focused Chromium-based browser</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first highly secure and highly private browser</strong> (TOR is highly private but can't be considered secure as many nodes are run by malicious hosts).</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>A <strong>7-year track record of transparency, security and privacy</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first browser to include in-built tracking protection</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first browser to include new tab page-based privacy data</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first Chromium-based browser to include encrypted data preference</strong> (HTTPS everywhere type protection).</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first Chromium-based browser to include fingerprinting protection</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first Chromium-based browser to include a built-in VPN / encrypted proxy with country selector</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first Chromium-based browser to offer an always-on private browsing mode</strong>.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>The <strong>first mobile browser with audio queue that can read a set of webpages to you</strong>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>